.items-div {
  margin-top: 5%;
  margin-left: 0;
}
.items-div-res {
  margin-top: 5%;
}
.content-div-res {
  margin: 5% 3%;
}
.arrow-btn-container {
  position: relative;
}
.arrow-btn-previous {
  background: #f7f7f7;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 5%;
}
.arrow-btn-next {
  background: #f7f7f7;
  padding: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 5%;
}
.discount-div {
  margin-left: 5px;
  font-size: small;
  padding: 1% 2%;
  color: #f58840;
  border-radius: 10px;
  text-align: center;
  background-color: #fef1e6;
}
.line-through-price-res {
  display: inline-block;
  margin-left: 50vw;
}
.counter-btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: black;
  font-size: 20px;
  background: #f7f7f7;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}
.counter-btn-res {
  display: flex;
  justify-content: space-between;
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: black;
  font-size: 20px;
  background: #f7f7f7;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}
.minus-counter:hover {
  opacity: 0.5;
}
.plus-counter:hover {
  opacity: 0.5;
}
.addtocart-btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 21px #f58840;
  -moz-box-shadow: 0px 10px 21px #f58840;
  box-shadow: 0px 10px 21px #f58840;
  color: #ffffff;
  font-size: 15px;
  background: #f58840;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}
.addtocart-btn:hover {
  opacity: 0.8;
  text-decoration: none;
}
.res-button {
  margin-top: 2%;
  width: 90vw;
  font-size: x-large;
}
.thumbnailimg {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}
.thumbnailimg:hover {
  opacity: 0.7;
}
.thumbnailimg-active {
  outline: 3px solid #f58840;
  opacity: 0.5;
}

.modal-img {
  height: 300px;
  border-radius: 7%;
}
.modal-img-res {
  width: 100vw;
  height: 300px;
}
